<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      예금액: <input type="text" v-model="deposit" />
      <img
        v-if="deposit < 0"
        src="https://contactsvc.bmaster.kro.kr/img/error.png"
        title="음수는 허용되지 않습니다!"
        style="width: 15px; height: 15px; vertical-align: middle"
      />
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      let viewModel = Vue.createApp({
        name: "App",
        data() {
          return {
            deposit: "",
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
